<div class="container" *ngIf="admin">
  <div class="row">
    <div class="col-12 item" [routerLink]="['queue']">
      <img
        width="50px"
        src="../../../assets/images/icon/untitled.svg+xml.png"
      />
      Manage Queue
    </div>
    <!-- <div class="col-12 item" [routerLink]="['search-guest']">
      <img
        style="padding-right: 15px"
        width="50px"
        src="../../assets/images/icon/search.png"
      />
      Search
    </div> -->
    <!-- <div
      class="col-12 item"
      [routerLink]="['guest-list']"
      *ngIf="admin.adminID == 1 || admin.adminID == 3"
    >
      <img
        width="50px"
        src="../../../assets/images/icon/search-svgrepo-com.svg"
      />
      Guest List
    </div> -->
    <!-- <div class="col-12 item" [routerLink]="['stat']" *ngIf="admin.adminID == 1 || admin.adminID == 3">
      <img
        width="50px"
        src="../../../assets/images/icon/statistics-svgrepo-com.svg"
      />
      STAT
    </div> -->
  </div>
</div>
<footer style="text-align: center; padding-top: 20px">Version 1.0.0</footer>
